/* main styling*/

.addToCart {
  box-shadow: none;
  font-size: 1.4em;
}

.addToCart:hover {
  border: solid black 1px;
}

.product {
  margin: 20px;
  box-shadow: 0px 3px 6px #272f59bc;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  justify-content: center;
}

.product_description {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.account_publish {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.product_description > p {
  margin: auto 0px;
  justify-content: center;
}

.product_buttons {
  display: flex;
  margin: 10px auto;
}

.option_buttons {
  display: flex;
  justify-content: center;
}

.liked_games,
.recomended,
.currently_selling {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

fieldset,
.user_details,
h1,
h2,
h3 {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.product,
.icon_header,
.search_icon {
  box-shadow: 0px 3px 6px #272f59bc;
}

.product {
  margin: 20px;
}
.user_details {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 10px;
  max-height: 300px;
  box-shadow: 0px 3px 6px #272f59bc;
}

.publish_game {
  width: 900px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 10px;
  padding: 0px;
}

.form_input {
  display: flex;
  justify-content: center;
}

fieldset > input {
  max-width: 250px;
  height: 20px;
  border-radius: 28px;
  margin: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 3px 6px #272f59bc;
  position: relative;
  top: -10px;
}

fieldset > select {
  max-width: 250px;
  height: 30px;
  margin: 10px;
  font-size: 1.2em;
}

fieldset > select > option {
  font-size: 1.5em;
}

fieldset > input[type="submit"] {
  background-color: #1b203d;
  color: white;
  border: white solid 2px;
  height: 40px;
  font-size: 1.2em;
  box-shadow: 0px 3px 6px #272f59bc;
}

fieldset > input[type="submit"]:hover,
.option_button:hover {
  background-color: var(--hover-color);
  color: black;
  border: solid black 2px;
}

.option_button {
  background-color: var(--secondary-color);
  color: white;
  border: solid 1px white;
  border-radius: 28px;
  height: 30px;
  width: 90px;
  box-shadow: 0px 3px 6px #272f59bc;
  margin: 10px;
}

/* animation  product picture */
.product > a > img:hover {
  box-shadow: 0px 3px 6px #272f59bc;
}

/* refrences 
https://markheath.net/post/font-awesome-circle-background (for å få avlange iconer runde)


*/
