/* main styling*/

.addToCart {
  box-shadow: none;
  font-size: 1.4em;
}

.addToCart:hover {
  border: solid black 1px;
}

.product {
  margin: 20px;
  box-shadow: 0px 3px 6px #272f59bc;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  justify-content: center;
}

.product_description {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.account_publish {
  display: grid;
  grid-template-areas:
    "user"
    "publish";
  grid-template-columns: minmax(360px, 1250px);
  justify-content: center;
}

.user_details {
  grid-area: user;
}

.publish_game {
  grid-area: publish;
}
.user_details,
.publish_game {
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 6px #272f59bc;
  background-color: var(--secondary-color);
  color: white;
}

.gamePublished {
  display: none;
  justify-content: center;
  font-size: 1.5em;
  padding: 0.5em;
  border: solid lightgreen;
}

.text {
  display: flex;
  flex-wrap: wrap;
}

.editIcon {
  position: relative;
  font-size: 0.9em;
  background-color: white;
  color: black;
  padding: 1em;
  border-radius: 50%;
  border: solid gray 2px;
  align-self: flex-end;
  top: -42px;
  margin: 4px;
  cursor: pointer;
}
.editIcon:hover {
  background-color: var(--hover-color);
}
.userDetails,
.cardInfo {
  margin: auto;
}
.cardInfo {
  max-width: 170px;
}

.product_description > p {
  margin: 0px;
}

.product_buttons {
  display: flex;
  margin: 10px auto;
}

.option_buttons {
  display: flex;
  justify-content: center;
}

.liked_games,
.recomended,
.currently_selling {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

fieldset,
h1,
h2,
h3 {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.product,
.icon_header,
.search_icon {
  box-shadow: 0px 3px 6px #272f59bc;
}

.product {
  margin: 20px;
}

.form_input {
  display: flex;
  justify-content: center;
  width: 290px;
  height: 30px;
  margin: 10px;
  border-radius: 20px;
  margin: auto;
  border: solid rgb(167, 165, 165) 1px;
}
label {
  display: flex;
  justify-content: center;
  margin: 10px;
}

input[type="submit"] {
  background-color: white;
  border: white solid 2px;
  border-radius: 28px;
  padding: 1.2em;
  display: flex;
  margin: 20px auto;
  box-shadow: 0px 3px 6px #272f59bc;
}

input[type="submit"]:hover {
  background-color: var(--hover-color);
  border: solid black 2px;
}
.option_button {
  background-color: var(--secondary-color);
  color: white;
  border: solid 1px white;
  border-radius: 28px;
  height: 30px;
  width: 90px;
  box-shadow: 0px 3px 6px #272f59bc;
  margin: 10px;
}

.product > h3 {
  display: block;
}
.product > .icons_product {
  display: flex;
  margin: auto;
}

/* animation  product picture */
.product > a > img:hover {
  box-shadow: 0px 3px 6px #272f59bc;
}

/* refrences 
https://markheath.net/post/font-awesome-circle-background (for å få avlange iconer runde)


*/
