.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 20px;
  box-shadow: 0px 3px 6px #272f59bc;
  display: flex;
  flex-direction: column;
  max-width: 310px;
  justify-content: center;
}

.product_description {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.product_buttons {
  display: flex;
  margin: 10px auto;
}

.product_description > p {
  margin: 0px;
}

h3 {
  margin: 10px;
  font-size: 1.2em;
}

.product > a > img {
  margin: 0px auto;
}

.product > a > img:hover {
  box-shadow: 0px 3px 6px #272f59bc;
}

.icons_product {
  display: flex;
  justify-content: center;
}
.addToCart {
  box-shadow: none;
  font-size: 1.4em;
}
.addToCart:hover {
  border: solid 1px black;
}
