.used_games {
  background-image: url("../images/texture/ahmad-mohammed-wGc4AQ3BJ_U-unsplash.png");
  background-repeat: none;
  padding: 4em;
  color: white;
  margin: 10px;
}

.new_games {
  background-image: url("../images/texture/resizeonur-binay-o-jLc7hSJm0-unsplash.jpg");
  background-repeat: none;
  padding: 4em;
  color: white;
  margin: 10px;
  background-position: 0px -300px;
}

.platform_categories {
  background-image: url("../images/texture/jonathan-cooper-nc-D1DwUU3U-unsplash\ ps.jpg");
  background-repeat: none;
  color: white;
  background-color: var(--secondary-color);
  padding: 4em;
  margin: 10px;
  background-position: 0px -390px;
}

.used_games > p,
.new_games > p,
.platform_categories > p {
  max-width: 350px;
}

h2 {
  margin: 0px;
}

/* refrences 
https://markheath.net/post/font-awesome-circle-background (for å få avlange iconer runde)


*/
