fieldset {
  min-width: 100px;
  height: 540px;
  margin: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 6px #272f59bc;
  border: none;
  color: white;
}

.input_log_in {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log_in_buttons {
  position: relative;
  top: 40px;
  display: flex;
  justify-content: center;
}

.forgotten_password {
  position: relative;
  top: 50px;
  margin-left: 40px;
}

.remember {
  margin: 10px;
  font-size: 20px;
  position: relative;
}

.remember_me {
  position: relative;
  top: 50px;
  left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.remember_me > input[checkbox] {
  font-size: 2em;
}

.forgotten_password > a {
  text-decoration: none;
  color: var(--primary-color);
}

.forgotten_password > a:hover {
  color: var(--hover-color);
}
.form_label {
  font-family: var(--secondary-text);
}

.form_button {
  margin: 10px;
  border-radius: 28px;
  border: #707070 solid 1px;
  background-color: white;
  width: 150px;
  height: 56px;
  box-shadow: 0px 3px 6px #272f59bc;
}
label {
  font-size: 2em;
  margin: 10px;
}

legend {
  display: none;
}

#username,
#password {
  width: 250px;
  height: 56px;
  border-radius: 28px;
}

.search_field > input {
  max-width: 50%;
  max-height: 100%;
  border-radius: 20px;
  padding: 1em;
  border: none;
  box-shadow: 0px 3px 6px #272f59bc;
  margin: 10px;
}

.form_button:hover {
  background-color: var(--hover-color);
}

button {
  background-color: var(--secondary-color);
  color: white;
  padding: 1em;
  border-radius: 20px;
  border: 2px solid;
  box-shadow: 0px 3px 6px #272f59bc;
}

@media (min-width: 900px) {
  fieldset {
    max-width: 398px;
    height: 521px;
    margin: auto;
  }
}

/* refrences 
https://markheath.net/post/font-awesome-circle-background (for å få avlange iconer runde)


*/
