/* main styling and layout */

input[type="submit"]:hover {
  color: black;
  border: solid black;
}
#error_message {
  color: red;
}

.form_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_input {
  display: block;
  border-radius: 28px;
  min-height: 50px;
  min-width: 240px;
  margin-bottom: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  box-shadow: 0px 3px 6px var(--secondary-color);
  max-width: 1300px;
}

legend {
  font-size: 1.2em;
  margin: 10px;
}

label {
  display: flex;
  margin: 10px;
}

input[type="submit"] {
  margin: 10px;
  color: white;
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 6px var(--secondary-color);
  border: solid white 2px;
  width: 200px;
  height: 60px;
  border-radius: 26px;
  display: flex;
  margin: 10px;
}

input[type="submit"]:hover {
  color: black;
  background-color: var(--hover-color);
}

/* footer styling layout and posistion */

@media (min-width: 900px) {
  input[type="submit"] {
    margin: auto;
  }
  .form_layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  fieldset > legend,
  label {
    align-self: start;
    margin: 10px;
  }
  fieldset > input[type="submit"] {
    display: flex;
  }

  fieldset > input:hover[type="submit"] {
    background-color: var(--hover-color);
  }
}

/* refrences 
  https://markheath.net/post/font-awesome-circle-background (for å få avlange iconer runde)
  
  
  */
