/* main styling*/
.payment_sucess_card {
  box-shadow: 0px 3px 6px #272f59bc;
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}
.product_description {
  display: flex;
  background-color: var(--primary-color);
  margin: 10px auto;
  max-width: 900px;
}

.purchaseSummary > p {
  margin: 0px;
}

.purchaseSummary {
  text-align: center;
  margin: 10px;
}

.product_text > p {
  margin: 0px;
}
.product_text > h2 {
  margin: 0px;
}

.product_text {
  margin: 10px;
}

.product_img {
  max-width: 75px;
  margin: 10px;
  margin: 15px;
}
.home_button {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-decoration: none;
  width: 300px;
  height: 80px;
  background-color: var(--secondary-color);
  color: white;
  border: solid white 2px;
  box-shadow: 0px 3px 6px #272f59bc;
  border-radius: 47px;
  text-align: center;
  line-height: 80px;
}

.home_button:hover {
  background-color: var(--hover-color);
  color: black;
  border: solid black;
}

@media (min-width: 900px) {
  .payment_sucess_card {
    width: 1020px;
    height: 528px;
    display: flex;
    margin: auto;
  }
}

/* refrences 
  https://markheath.net/post/font-awesome-circle-background (for å få avlange iconer runde)
  
  
  */
