/* main styling and posistion*/

.addToCart {
  box-shadow: none;
  font-size: 1.4em;
}

.addToCart:hover {
  border: solid black 1px;
}
.product {
  margin: 20px;
  box-shadow: 0px 3px 6px #272f59bc;
  display: flex;
  flex-direction: column;
  max-height: 600px;
}
.product_description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.product_buttons {
  display: flex;
  margin: 10px auto;
}

.product_description > p {
  margin: 0px;
}

.recomended {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product > a > img:hover {
  box-shadow: 0px 3px 6px var(--secondary-color);
}

.single_product {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 3px 6px 8px #272f59bc;
  margin: auto;
  justify-content: center;
}

.single_product > p {
  margin: auto;
}

.single_product > .product_description {
  margin: 10px auto;
}

h2 {
  margin: auto;
}
h3 {
  display: flex;
  margin: 10px;
  font-size: 1.5em;
  justify-content: center;
}

.single_product > h2 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.single_product > img {
  margin: auto;
  width: 50%;
}

.description_price > p {
  margin: 0px;
}
.description_price {
  margin-top: 10px;
}

.product_icon,
.addToCart_product {
  font-size: 3em;
  border-radius: 50%;
  margin: 10px;
  background-color: var(--secondary-color);
  color: white;
  padding: 19px;
  line-height: -1px;
  border: solid white 2px;
}

.single_product > .icons_product > .addToCart_product {
  top: 0px;
}

.addToCart_product {
  box-shadow: none;
  position: relative;
  top: -30px;
  font-size: 2.55em;
}

.product_icon:hover,
.addToCart_product:hover {
  color: black;
  background-color: var(--hover-color);
}

.addToCart_product:hover {
  border: solid var(--hover-color) 2px;
}

.icons_product {
  display: flex;
  justify-content: center;
}

.product > h3 {
  margin: 10px;
  justify-content: start;
  font-size: 1.2em;
}

p {
  max-width: 470px;
}

/* footer styling layout and posistion */

@media (min-width: 900px) {
}

/* refrences 
  https://markheath.net/post/font-awesome-circle-background (for å få avlange iconer runde)
  
  
  */
