/* main styling*/

.page {
  color: white;
  background-color: var(--secondary-color);
  border-radius: 26px;
  padding: 4px;
  border: solid var(--hover-color) 1px;
  box-shadow: 0px 3px 6px #272f59bc;
}

.page:hover {
  color: black;
  background-color: var(--hover-color);
  border: solid black 1px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0px 3px 6px #272f59bc;
  margin: 10px;
  max-width: 1600px;
  min-width: 250px;
}

fieldset {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.product > a > img {
  display: flex;
  margin: auto;
  width: 140px;
  height: 190px;
  margin-top: 10px;
}

.icons_product {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  justify-content: center;
}

.product_description {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.product_description > p {
  margin: 0px 10px;
}

input[type="text"],
select {
  min-height: 55px;
  margin: 10px;
  min-width: 250px;
  max-width: 400px;
  border: none;
  border-radius: 26px;
  font-size: 1.3em;
}

label {
  margin: 15px;
}
.search_bar {
  border-radius: 10px;
  background-color: var(--primary-color);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page_number {
  display: flex;
  justify-content: center;
}
.searchbutton {
  min-width: 190px;
  min-height: 60px;
  margin: 10px auto;
}

.addToCart {
  box-shadow: none;
  font-size: 1.4em;
}

.addToCart:hover {
  border: solid black 1px;
}

fieldset {
  margin: 10px;
}

.page_number {
  display: flex;
}
.arrow {
  position: relative;
  top: 10px;
  margin: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: solid white 1px;
  border-radius: 26px;
  padding: 2px;
  box-shadow: 0px 3px 6px var(--secondary-color);
}

.arrow:hover {
  color: black;
  background-color: var(--hover-color);
  border: solid black 1px;
}

/* footer styling layout and posistion */

@media (min-width: 900px) {
  /* main styling over 900px */
  .search_results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .product_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product > a > img {
    width: 140px;
    height: 190px;
    display: flex;
    margin: 25px auto;
  }

  .product > a > img:hover {
    box-shadow: var(--secondary-color) 0px 3px 6px;
  }

  .icons_product {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .product_description {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .product_description > p {
    margin: 0px 10px;
  }

  .search_bar {
    display: flex;
    flex-direction: row;
  }

  button {
    margin: 10px;
  }

  label {
    margin-top: 26px;
  }
}

/* refrences 
  https://markheath.net/post/font-awesome-circle-background (for å få avlange iconer runde)
  
  
  */
